#contactTitle {
  width: 100%;
  padding: 30px;
  color: #fff418;
  font-family: "Courier New", Courier, monospace;
}
#contactContainer {
  color: white;
  height: auto;
  padding-left: 30px;
}

#contact {
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
i {
  font-size: 40px;
  color: #b8b6b6;
}
